@media screen and (min-width: 480px) {    
/*********************************
PAGE: MAIN
*********************************/  

#gallery li {
    width: 19%;

  }

#gallery li:nth-child(5n) {
    clear: left;
  }
}


@media screen and (min-width: 480px) {    
/*********************************
PAGE: MAIN
*********************************/  
    nav {
        float: left;
        width: 100%;
        padding-left: 25px;
        text-align: left;
        border-bottom: 25px solid #fafafa;
    }   
    
    .login {
        float: right;
        width: 45%;
        font-size: 0.8em;
        text-align: right;
        padding-right: 25px;
    }
    
    #logo {
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }
    
    h1 {
        font-size: 1.5em;
    }
}