
@media (min-width: 768px) and (max-width: 1199px) {

    /* class for 4 columns */

    #gallery ul li {
        width: 22.5%;
    }
}
@media (min-width: 320px) {
    /* class for 2 columns */
/*
    #gallery ul li {
        width: 47.5%;
    }
    
*/
    
#gallery ul li {
    width: 30.83%;
    
}